<strong>Hi, {{ organizer }}?</strong>
<p>You have been subscribed to meetup {{ meetup }}.</p>
<p>Follow the data:</p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
</p>
